<!-- html file for palette modules -->
        <strong id = "heading" style = "margin-left:13px;">Palette</strong>
        <div class="listview small">
            <div class="metrolist" id="listouter">
                <div class="list-content">
                    {% if usermodules %}
                    <ul id = "pal" class="list items">
                    {% for m in usermodules %}
                    {% if m.link == 'pal' %}
                         <li id = "pal_{{ forloop.counter }}"class="metrolist">  
                             <!-- DELETE BUTTON -->
                             <div class="toolbar transparent small place-right">
                                 <button onclick="deletemodule(this)" value="{{m.module.module_code}}"><i class="icon-cancel-2 on-left"></i></button>
                             </div>
                             <div class="toolbar transparent small place-right">
                                 <button><i class="icon-search on-left"></i></button>
                              </div>

                             <span class="list-title">{{ m.module.module_code }}</span>
                             <span class="list-remark">{{ m.module.module_title}}</span>  
                             <span class="list-remark">{{ m.module.module_credit}}MCS</span>
                             {% if m.module.preclu %}
                             <p hidden class="preclu">{{m.module.preclu}}</p>
                             {% endif %}
                             {% if m.module.prereqAnd %}
                             <p hidden class="prereqAnd">{{m.module.prereqAnd}}</p>
                             {% endif %}
                             {% if m.module.prereqOr %}
                             <p hidden class="prereqOr">{{m.module.prereqOr}}</p>
                             {% endif %}                                  
                          </li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                   {% endif %}
                </div>
            </div>
        </div>